body {
  text-align: center;
  font-size: 2rem;
  background-color: rgb(223, 233, 229);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
}
h1 {
  border: blue 1px solid;
  border-radius: 5px;
  background-color: rgb(128, 190, 192);
  margin: 1rem auto;
  width: 50%;

}

#operators {
  margin: 1rem;
}

button {
  padding: 1rem;
  background-color: rgba(128, 190, 192, 0.596);
  border: rgb(5, 9, 53) 1px solid;
  text-transform: uppercase;
  text-align: center;
  
}

button:hover {
    background-color: rgba(198, 198, 201, 0.342);
}

#resultData {
    border: darkblue 1px solid;
    height: 100px;
    width: 250px;
    margin: 1rem auto;
    text-transform: uppercase;
}

p {
    margin-top: 5px;
    font-size: 50px;
}
