body {
    text-align: center;
    font-size: 2rem;
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}
h1 {
    border: blue 1px solid;
}

main, .input, .calc {
    padding: 1rem;
}